* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
.navigation_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #dedede;
}
.menu {
  display: flex;
  gap: 20px;
  list-style: none;
}
.menu li a {
  text-decoration: none;
  color: black;
}
